* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(16, 16, 41);
  overflow-x: hidden;
  transition: 2s;
}
/* navbar section */

.navbar {
  background-color: rgb(8, 8, 12);
  opacity: 90%;
}
.icon-head {
  font-size: 2.5rem;
  margin-right: 0.3rem;
  color: rgb(233, 200, 15);
}
.nav-logo {
  margin-top: 0.4rem;
  font-size: 1.3rem;
}
.navbar-nav {
  font-size: 0.8rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: inherit;
  gap: 0.5rem;
}
.btn {
  padding: 0.7rem 0.8rem;
  margin-left: 1.5rem;
  background-color: rgb(100, 100, 206);
  color: white;
  font-size: 0.5rem;
  font-family: sans-serif;
}
.btn:hover {
  background-color: rgb(233, 200, 15);
}
.btn-sign-in {
  padding: 0.5rem 0.7rem;
  margin-left: 0.4rem;
  background-color: rgb(233, 200, 15);
  color: white;
  font-size: 0.5rem;
  font-family: sans-serif;
}
.btn-sign-in:hover {
  background-color: #1fa726;
}
/* night button section */

input[type="checkbox"] {
  position: relative;
  margin-top: 0.5rem;
  width: 2.5rem;
  margin-left: 0.7rem;
  height: 1.3rem;
  -webkit-appearance: none;
  background-color: #1fa726;
  outline: none;
  border-radius: 20%;
  transition: 1s;
  box-shadow: inset 0 0 5px rgbn(0, 0, 0, 2);
}
input:checked[type="checkbox"] {
  background: gray;
  border: white solid 1px;
}
input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 40%;
  top: 0;
  right: 0;
  background: white;
  transition: 1s;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0.2);
}
input:checked[type="checkbox"]::before {
  right: 1.1rem;
}
.mode-button {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-left: -0rem;
  margin-right: 1rem;
  opacity: 0%;
  z-index: 0.8rem;
  transition: 2s;
}
.fa-moon {
  font-size: 1.5rem;
  color: antiquewhite;
  opacity: 100%;
  margin: -1.5rem;
  transition: 2s;
}
.mode-button-day {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  margin-left: -3rem;
  margin-right: 1rem;
  opacity: 100%;
  transition: 2s;
}
.fa-sun {
  opacity: 0%;
  font-size: 1.5rem;
  margin: -1.5rem;
  color: yellow;
  transition: 2s;
}

/* header */

.header-img {
  width: 100%;
  position: relative;
  opacity: 90%;
}
.h-text h1 {
  position: absolute;
  font-size: 3.5rem;
  top: 17rem;
  left: 8rem;
  color: antiquewhite;
  text-shadow: 5px 12px 10px black;
}

/* header form */

.h-form {
  position: absolute;
  background-color: whitesmoke;
  padding: 0.5rem 2rem;
  width: 22%;
  height: 70%;
  border: black solid 1px;
  margin-left: 55rem;
  margin-top: -37rem;
  border-radius: 1rem;
  box-shadow: 2px 5px 5px black;
  opacity: 83%;
}
.form-label {
  color: black;
  font-weight: bold;
  font-size: 0.6rem;
}
.h-form i {
  font-size: 2.5rem;
  margin-top: 1.4rem;
  margin-left: 1.5rem;
  color: rgb(233, 200, 15);
}
.h-form h3 {
  font-weight: bold;
  margin-top: -2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}
input[type="text"],
select {
  width: 100%;
  padding: 0.2rem 0.8rem;
  font-size: 0.7rem;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 0.2rem;
  box-sizing: border-box;
  box-shadow: 2px 2px 3px black;
}

input[type="submit"] {
  width: 35%;
  font-size: 0.7rem;
  background-color: rgb(90, 90, 253);
  color: white;
  padding: 0.3rem 0.4rem;
  margin: 1.8rem 4rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  box-shadow: 2px 2px 3px black;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* headline slide */

#carouselExampleControls {
  margin: 0rem 0rem;
  background-color: black;
  padding: 0.3rem 1.5rem;
}
.slider-text {
  padding: 0rem 4rem;
  font-size: 0.9rem;
  color: antiquewhite;
}

/* card section */
.card {
  margin: 5rem 7.5rem;
}

.col-md-4 {
  background-color: rgb(8, 8, 12);
}
.card-image {
  width: 47.8rem;
}
.card-shield {
  position: relative;
  margin: 0rem 2rem;
  font-size: 17rem;
  opacity: 20%;
  color: rgb(233, 200, 15);
}
.card-title {
  text-align: center;
  position: absolute;
  top: 2rem;
  font-size: 1.4rem;
  color: aliceblue;
  padding: 0.7rem 1.9rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.card-text {
  position: absolute;
  top: 9.5rem;
  color: aliceblue;
  font-size: 1rem;
  padding: 0.7rem 0.9rem;
  text-align: center;
}
.btn-card {
  width: 40%;
  font-size: 0.7rem;
  margin: 0rem 6.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.btn-card:hover {
  background-color: rgb(233, 200, 15);
}

/* services */

.service-block {
  background-color: rgb(8, 8, 12);
}
.service-heading {
  color: aliceblue;
  text-align: center;
  margin: 3rem 0rem;
  font-size: 3.5rem;
}

.services {
  display: inline-flex;
  margin: 3rem 2rem;
  gap: 3rem;
}
.services-2 {
  display: inline-flex;
  margin: 0rem 1.3rem;
  gap: 3rem;
}

.s-box {
  width: 100%;
  height: 90%;
  background-color: rgb(90, 90, 253);
  border-radius: 2%;
  box-shadow: 5px 8px 5px black;
  opacity: 80%;
}
.s-box:hover {
  opacity: 100%;
  background-color: rgb(90, 90, 253);
}
.sm-box h3 {
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem 1.6rem;
  color: white;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.sm-box i {
  font-size: 5rem;
  padding: 0rem 1.6rem;
  color: white;
  margin-bottom: 2rem;
}

/* s-box 2 */

.s-box-2 {
  width: 100%;
  height: 90%;
  background-color: rgb(90, 90, 253);
  border-radius: 2%;
  box-shadow: 5px 8px 5px black;
  opacity: 80%;
}
.s-box-2:hover {
  opacity: 100%;
  background-color: rgb(90, 90, 253);
}
.sm-box-2 h3 {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.7rem 1.6rem;
  color: white;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.sm-box-2 i {
  font-size: 5rem;
  padding: 0rem 2.3rem;
  color: white;
  margin-bottom: 2rem;
}
.ancar-icon {
  text-decoration: none;
}

/* s-box-3 */

.s-box-3 {
  width: 100%;
  height: 90%;
  background-color: rgb(90, 90, 253);
  border-radius: 2%;
  box-shadow: 5px 8px 5px black;
  opacity: 80%;
}
.s-box-3:hover {
  opacity: 100%;
  background-color: rgb(90, 90, 253);
}
.sm-box-3 h3 {
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem 1.6rem;
  color: white;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.sm-box-3 i {
  font-size: 5rem;
  padding: 0rem 2.3rem;
  color: white;
  margin-bottom: 2rem;
}

/* s-box 4 */

.s-box-4 {
  width: 100%;
  height: 90%;
  background-color: rgb(90, 90, 253);
  border-radius: 2%;
  box-shadow: 5px 8px 5px black;
  opacity: 80%;
}
.s-box-4:hover {
  opacity: 100%;
  background-color: rgb(90, 90, 253);
}
.sm-box-4 h3 {
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem 1.6rem;
  text-decoration: none;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.sm-box-4 i {
  font-size: 5rem;
  padding: 0rem 2.3rem;
  color: white;
  margin-bottom: 2rem;
}

/* s-box 5 */

.s-box-5 {
  width: 100%;
  height: 90%;
  background-color: rgb(83, 83, 148);
  border-radius: 2%;
  box-shadow: 5px 8px 5px black;
  opacity: 90%;
}
.s-box-5:hover {
  opacity: 100%;
  background-color: rgb(83, 83, 148);
}
.sm-box-5 h3 {
  text-align: center;
  font-size: 1.2rem;
  padding: 1.2rem 1.6rem;
  color: white;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.sm-box-5 i {
  font-size: 5rem;
  padding: 0rem 2.1rem;
  color: white;
  margin-bottom: 2rem;
}
.strip {
  padding: 0.3rem 1rem;
  background-color: rgb(233, 200, 15);
}
.strip-2 {
  padding: 0.3rem 1rem;
  background-color: rgb(233, 200, 15);
  margin-bottom: -2rem;
  margin-top: 2rem;
}

/* offer section */

.offer-section {
  margin: 2rem 0rem;
  background-color: rgb(16, 16, 41);
}
.card-2-img {
  margin: 6rem 2rem;
  border: rgb(233, 200, 15) solid 5px;
  border-radius: 50%;
}
.about {
  margin-top: 9rem;
  color: aliceblue;
}
.btn-offer {
  width: 30%;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: rgb(233, 200, 15);
  color: black;
}
.btn-offer:hover {
  background-color: rgb(233, 200, 15);
}

/* contact information section */

#bright i {
  font-size: 3.5rem;
  padding: 2rem 6.5rem;
}

#bright {
  background-color: rgb(233, 200, 15);
  border-radius: 3%;
  box-shadow: 5px 8px 5px black;
}

.hd {
  padding: 1rem 1rem;
}
#bright-2 {
  color: aliceblue;
  font-size: 1.1rem;
  padding: 1.5rem 2rem;
}
#bright-2 i {
  font-size: 2rem;
}
.col-md-2 {
  color: aliceblue;
  font-size: 1rem;
  padding: 1.5rem 2rem;
}
/* end line */
.end-line {
  background-color: rgb(8, 8, 12);
  text-align: center;
  margin: 2rem 0rem;
  padding: 0.5rem 0rem;
  margin-bottom: -1rem;
}
.end-line p {
  color: aliceblue;
}
/* j.s toggle section  */

body.dark {
  background-color: rgb(233, 233, 233);
  color: rgb(16, 16, 41);
  transition: 2s;
}
body.dark .fa-moon {
  font-size: 1.5rem;
  color: antiquewhite;
  opacity: 0%;
}
body.dark .fa-sun {
  font-size: 1.5rem;
  margin: -2rem;
  color: yellow;
  opacity: 100%;
}
body.dark .image-main {
  opacity: 100%;
}

body.dark .h-form {
  opacity: 95%;
}
body.dark .s-box {
  opacity: 100%;
}
body.dark .s-box-2 {
  opacity: 100%;
}
body.dark .s-box-3 {
  opacity: 100%;
}
body.dark .s-box-4 {
  opacity: 100%;
}
body.dark .s-box-5 {
  opacity: 100%;
}
body.dark .about {
  color: black;
}
body.dark .card-image {
  border: rgb(16, 16, 41) solid 4px;
}
body.dark .mode-button {
  opacity: 100%;
}
body.dark .mode-button-day {
  opacity: 0%;
}
body.dark .service-heading {
  color: black;
}
body.dark .offer-section {
  background-color: rgb(233, 233, 233);
}
body.dark #bright-2 {
  color: rgb(8, 8, 12);
}
body.dark .col-md-2 {
  color: rgb(8, 8, 12);
}
body.dark .end-line p {
  color: aliceblue;
}

/* media part */

@media (max-width: 990px) {
  .btn {
    padding: 0.4rem 0rem;
    margin: 0.1rem;
  }
}
@media (max-width: 375px) {
  .box {
    background-color: rgb(16, 16, 41);
  }
  .mode-button {
    margin-left: 9rem;
    margin-top: -1.5rem;
  }
  .fa-moon {
    margin-top: -4rem;
    margin-left: 19rem;
  }
  .mode-button-day {
    margin: 0rem 8.5rem;
    margin-top: -2rem;
  }
  .fa-sun {
    margin-top: -4rem;
    margin-left: 19rem;
  }
  .h-text h1 {
    text-align: center;
    font-size: 1.5rem;
    left: 6rem;
    top: 7rem;
  }
  .h-form i {
    font-size: 3rem;
    margin-left: 2rem;
  }
  input[type="submit"] {
    width: 30%;
    padding: 0.1rem 0.1rem;
    margin: 2rem 11.5rem;
  }
  .h-form {
    padding: 0rem 2rem;
    width: 80%;
    height: 60%;
    margin-left: 2.5rem;
    margin-top: 187rem;
    overflow: hidden;
  }
  input[type="submit"] {
    margin: 1rem 5rem;
  }
  #carouselExampleControls {
    margin: 0rem -5rem;
    width: 121%;
    background-color: black;
    padding: 0.5rem 1.5rem;
    overflow: hidden;
  }
  .card {
    display: flex;
    width: 100%;
    margin: 1rem 0rem;
  }
  .card-title {
    text-align: center;
    top: 17rem;
    color: aliceblue;
    padding: 0.7rem 1.9rem;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .card-text {
    top: 23rem;
    color: aliceblue;
    font-size: 1rem;
    padding: 0.7rem 0.9rem;
    text-align: center;
  }
  .btn-card {
    width: 40%;
    font-size: 0.7rem;
    margin: 0rem 6.5rem;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .btn-card:hover {
    background-color: rgb(233, 200, 15);
  }
  .card-image {
    width: 100%;
  }
  .services {
    margin: 1rem 6rem;
    display: inline-block;
  }
  .services-2 {
    margin: -1rem 5.5rem;
    display: inline-block;
  }
  .service-block {
    background-color: rgb(8, 8, 12);
  }
  .service-heading {
    margin-top: 15rem;
    font-size: 3rem;
  }
  .s-box {
    margin: 1rem 0rem;
  }
  .s-box-2 {
    margin: 1rem 0rem;
  }
  .s-box-3 {
    margin: 1rem 0rem;
  }
  .s-box-4 {
    margin: 1rem 0rem;
  }
  .card-2-img {
    width: 100%;
    margin: 1rem 0rem;
    border: rgb(233, 200, 15) solid 5px;
    border-radius: 50%;
  }
  .offer-section {
    margin-top: 35rem;
    background-color: rgb(16, 16, 41);
  }
  .about {
    margin-top: 0rem;
    text-align: center;
  }
  .btn-offer {
    margin: 0rem 7rem;
  }
  #bright {
    text-align: center;
    background-color: rgb(233, 200, 15);
    border-radius: 0%;
    box-shadow: 5px 8px 5px black;
  }
  #bright-2 {
    text-align: center;
  }
}
